workflow/envs/condaenv.*.requirements.txt
pset.egg-info/
out/
results/
ebola/
dist/
data/
build/
__pycache__
.vscode/.ropeproject
*.tar.gz
*.snakemake
*.sdb
*.pyc
*.perf
*.nto
*.ntf
*.nal
*.nsq
*.not
*.nos
*.nog
*.nin
*.nhr
*.nhi
*.nhd
*.ndb
*.nnd
*.nni
*.btd
*.bti
*.err
*.out
*.md5
*.log
*.html
*.db
*.DS_Store
